{% extends 'base.html' %}
{% block title %}Book Room{% endblock %}

{% block content %}
	{% if request.user.person.booked %}
		<br><div class="ui container"><div class="ui negative message"><div class="header">You have already booked room {{request.user.person.room.name}}</div></div></div>
	{% else %}
	<br>
	<div class="ui centered container">
		{% for house in gh %}
			<button class="ui button" onclick="load('/room?gid={{house.id}}')">{{house.name}}</button>
			{% empty %}
				No guesthouse present.
		{% endfor %}
	</div>
	{% endif %}

	
{% endblock %}